.label-container {
  width: 90%;
  margin: auto;
}

.game-level-label {
  font-size: 1.5em;
  color: #fff;
}
ion-card.custom-card {
  background-color: #333;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  ion-card-header {
    background-color: #555;
  }

  &.selected {
    transform: scale(1.05);
  }

  ion-card-title {
    color: #fff;
  }

  p {
    margin: 0;
  }
}

ion-item{
  ion-range {
    margin-top: 3% !important;
    --bar-background: #a2d2ff;
    --bar-background-active: #bde0fe;
    --bar-height: 8px;
    --bar-border-radius: 8px;
    --knob-background: #ffc8dd;
    --knob-size: 40px;
    --pin-background: #ffafcc;
    --pin-color: #fff;
  }
}

// .label-container-two{
//   margin-top: 2% !important ;
//   width: 90%;
//   margin: auto;
//   display: flex;
//   flex-direction: column;
//   justify-content: start;
// }

.label-container-two {
  margin-top: 2% !important;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  // justify-content: start;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-level-label {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 8px;
}
.label-container-two {
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.label-container-two:hover {
  background-color: #555;
  transform: scale(1.05);
}
ion-button {
  margin-top: 5% !important;
  width: 70%;
  margin: auto;
  display: block;
  --background: linear-gradient(to bottom, #ff4d4d, #ff1a1a) !important;
  --color: #fff;
  font-weight: bold;
  --border-radius: 10px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  --transition: background 0.3s ease-in-out,
                --transform 0.2s ease-in-out,
                --box-shadow 0.3s ease-in-out;
  --pressed-background: linear-gradient(to bottom, #ff4d4d, #ff1a1a) !important;
}

ion-button:hover {
  --background-color: #45a049;
  --transform: scale(1.05);
}

ion-button:active {
  --transform: scale(0.95);
}
